<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/about.css">
			<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/index.html">About</a></li>
	        		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			{{< gallery >}}
  				{{< figure src="https://willwaltonfreeman.github.io/images/background_image.png" caption="Sydney Harbour" >}}
  				{{< figure src="image2.jpg" >}}
  				{{< figure src="image3.jpg" >}}
				{{< /gallery >}}
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:will.waltonfreeman@gmail.com">email</a></li>
	        		<li><a href="https://github.com/willwaltonfreeman">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
